body {
  /* background: url('https://img.freepik.com/vector-gratis/conjunto-comidas-saludables-desayuno-ilustracion-plana_74855-14424.jpg?w=1060&t=st=1658859979~exp=1658860579~hmac=789185487fbbc50ac63d5d00691ea8193eeac355effe9865b57972a1976ee9f7'); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
