select {
    border-radius: 20%;
}

.cardsConatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* border: solid blue; */
    padding-left: 18%;
    /* background-color: red; */
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 30%;
    background-color: rgb(209, 212, 212);
}